/* Global */
*{
    padding: 0;
    margin: 0;
    clear: both;
    outline: none !important;
    color: red;
    background-color: rgba(255, 255, 255, 0.863);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html{
    background-color: #c4e4f5;
}

main{
    max-height: 900px;
    max-width: 500px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid blue;
    border-radius: 19px;
    box-shadow: 3px 2px 0px 2px #7a78f5;
}

#message-container,
#controls{
    border-right: 20px solid darkblue;
    border-left: 20px solid darkblue;
}

#input-splitter{
    width: calc(100% - 40px);
    margin: -2px auto 0px auto;
    border-top: 2px double darkblue;
    position: relative;
}

/* Messages */
#message-container{
    height: calc(100% - 200px);
}
#messages{
    margin: 0;
    padding: 11px;
    border-radius: 21px;
    max-height: 99%;
    min-height: 51px;
    overflow-y: auto;
}
#messages li{
    width: 100%;
    list-style: none;
    margin-bottom: 5px;
}
#messages li p{
    margin: 0;
    max-width: 61%;
    border-radius: 4px;
    padding: 4px 9px;
    display: inline-block;
    text-align: left;
    position: relative;
}
#messages li p::before,
#messages li p::after{
    content: '';
    position: absolute;
}
#messages li p::before{
    width: 11px;
    height: 11px;
    bottom: -5px;
    transform: rotate(45deg);
}
#messages li p::after{
    width: 16px;
    height: 7px;
    bottom: -7px;
    background-color: white;
}

.from-server p{
    color: white;
    background-color: #5f538b;
    border-bottom-left-radius: 0 !important;
}
.from-server p::before{
    left: -5px;
    background-color: #5f538b;
}
.from-server p::after{
    left: -6px;
}
.from-user{
    text-align: right;
}
.from-user p{
    color: white;
    background-color: #2262f8;
    border-bottom-right-radius: 0 !important;
}
.from-user p::before{
    right: -5px;
    background-color: #2262f8;
}
.from-user p::after{
    right: -7px;
}

/* Controls */
#controls{
    height: 40px;
    width: 100%;
}

#send{
    border: none;
    border-left: 2px double rgb(206, 202, 202);
    height: 100%;
    padding: 5px 10px;
    cursor: pointer;
    border-bottom-right-radius: 20px;
    position: relative;
    z-index: 1;
}
#send::after{
    background: #e1e1e1;
    content: '';
    position: absolute;
    z-index: -1;
    height: 100%;
    left: 0;
    top: 0;
    width: 0;
    transition: width 0.3s;
}
#send:hover::after{
    width: 100%;
}
#send .fa-paper-plane{
    background: none;
}

#msg{
    width: calc(100% - 43px);
    height: 100%;
    border: none;
    border-bottom-left-radius: 19px;
    padding: 10px 20px;
}

#clear{
    position: absolute;
    top: 90px;
    left: 20px;
    border: 1px double red;
    padding: 2px 5px;
    margin-left: -1px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    width: 25px;
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    transition: width 0.3s;
    z-index: 1;
}
#clear:hover{
    width: 68px;
}

/* Phone top & bottom */
#phone-top,
#phone-bottom{
    height: 80px;
    background-color: darkblue;
}

#phone-top{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
}
#phone-top::before,
#phone-top::after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#phone-top::before{
    width: 30%;
    height: 20px;
    left: 35%;
    border-radius: 10px;
    background-color: black;

}
#phone-top::after{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    right: 20%;
    border: 7px solid black;
    background-color: #1a1919;
}

#phone-bottom{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
